<h1><%= @list.name %></h1>

<ul class="list-group">
    <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"><%= bookmark.movie.title %> - <%= bookmark.comment %></li>
  <% end %>

<%=link_to "add new movie", new_list_bookmark_path(@list)%>
<%=link_to "See lists", lists_path(@list)%>
